.character
  width 100%
  height 100%
  background-color #ab3232

.character-img
  width 57.5%
  height 35.9%
  margin: 5.3% 22.25% 58.8% 22.25%
  border-radius 175px
  border solid 0px #707070
  background-color #ffffff

.Rectngulo-3
  width 89.4%
  height 0px
  border solid 1px #707070
  background-color #ab3232

.character__name
  width 60%
  margin: 55% 20% 40% 20%
  font-family Roboto, sans-serif
  font-size 40px
  font-weight normal
  font-style normal
  font-stretch condensed
  line-height 1.2
  letter-spacing normal
  text-align left
  color #313030

.character__comics__available
  width 398px
  height 33px
  font-family Roboto, sans-serif
  font-size 26px
  font-weight normal
  font-style normal
  font-stretch condensed
  line-height 1.23
  letter-spacing normal
  text-align left
  color #313030

.character__last__modification
  width 398px
  height 48px
  font-family Roboto, sans-serif
  font-size 26px
  font-weight normal
  font-style normal
  font-stretch condensed
  line-height 1.23
  letter-spacing normal
  text-align left
  color #313030
