
.content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 7.5% 20% 7.5%;
}
.content__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 29px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #686868;
  margin-bottom: 10%;
  align-self: center
}
  .content__text {
  font-family: 'Open sans', sans-serif;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #686868;
  align-self: top
}


