.wrapper
    margin-left: 10%
    margin-right: 10%
    font-family: 'Open sans', sans-serif

.gallery
    display grid 
    grid-template-columns: repeat(3, minmax(auto, 30%))
    grid-template-rows: minmax(100px, 300px)
    column-gap: 60px
    row-gap: 25px

.event 
    display flex
    flex-direction: column
.thumbnail
    width 100%
    height 50%

.desciption
    text-align: default

